html[data-theme="solarized"] {
  --background: 44 87% 94%;
  --foreground: 192 16% 46%;
  --card: 44 87% 94%;
  --card-foreground: 192 16% 46%;
  --primary: 194 14% 40%;
  --primary-foreground: 44 87% 94%;
  --secondary: 45 47% 91%;
  --secondary-foreground: 194 14% 40%;
  --muted: 45 47% 91%;
  --muted-foreground: 180 7% 60%;
  --accent: 45 100% 35%;
  --accent-foreground: 44 87% 94%;
  --border: 45 47% 91%;
  --input: 45 47% 91%;
  --radius: 0.5rem;
  background-color: #fdf6e3;
}
